{%extends 'custTemp/cust_base.html'%}
{%block content%}

   <!-- Page Content Holder -->
   <div id="content">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Sidebar</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% if  custProfile %}
  
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{{custProfile.img}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Hello!{{custProfile.cust_name}}</h4>
          <p class="card-text">Your UIDAI NO-{{custProfile.addhar}}</p>
          <p class="card-text">Your Account:{{custProfile.account_no}}</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
  
    
       
    {%else%}
    <h2>No Profile data found!!</h2>
    {%endif%}

</div>
</div>
{%endblock%}




