{%extends 'custTemp/cust_base.html'%}
{%block content%}

   <!-- Page Content Holder -->
   <div id="content">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Sidebar</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
   <h1>Transaction Report</h1>
 
   <h2>Account New Account</h2>
  
   <!-- Add Product -->
   <section>
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-10 col-md-8 ml-auto">
               <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">
                          <table class="table" width="100%" cellpadding="5px" cellspacing="5px" style="border: 2px solid hotpink">
                             <thead>
                               <tr>
                                 <th>AccountNO:</th>
                                 <th>TransactionID</th>
                                 <th>Deposit</th>
                                 <th>Balance</th>
                                 <th>Withdraw</th>
                                 <th>Date</th>
                                 <th>Status</th>
                                 
                                                                 
                             

                               </tr>
   
                             </thead>
                             <tbody>
                               {% if ts %}
                           {%for acc in ts %}
                               <tr>
                                 <td>{{acc.account_no_id}}</td>
                                 <td>{{acc.ts_id}}</td>
                                 <td>{{acc.deposit_amount}}</td>
                                 <td>{{acc.balance_amount}}</td>
                                 <td>{{acc.withdraw_amount}}</td>
                                 <td>{{acc.ts_dt}}</td>


                                  <td><a href="#"><button type="button" class="btn btn-success">{{acc.ts_st}}</button></a></td>
                                 
                                </tr>
                         {%endfor%}
                         {%else%}
                         <h2>No Product found!!</h2>
                         {%endif%}
   
                             </tbody>
                           </table>
   
   
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
</div>
{%endblock%}






