{%extends 'bankTemp/base.html'%}
{%block content%}

    
      <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>Global Bank Loan System</h1>
      <p>We have lowest EMI plan & Quick loan Process</p>
      </div>
      <div class="container mt-5">
      <div class="row">
      <div class="col-sm-4">
        <img typeof="foaf:Image" class="img-responsive" src="https://www.globalbank.com.pa/sites/default/files/imagenes/pagina/319-x-122-jubilados_.jpg" width="319" height="122" alt="" style="display: block;">
      <h3>Retirees and Pensioners </h3>
      <p>
         Enjoy the trip you dreamed so much, remodeling your home or whatever you want with our personal loan.
        </p>
      </div>
      <div class="col-sm-4">
        <img typeof="foaf:Image" class="img-responsive" src="https://www.globalbank.com.pa/sites/default/files/imagenes/pagina/319-x-122-empleado-de-la-autoridad-del-canal-de-panama__0.jpg" width="319" height="122" alt="" style="display: block;"> 
        <h3>ACP Employees (Panama Canal Authority)</h3>
        <p>ACP Employees (Panama Canal Authority)
For you we have the best conditions and benefits that will allow you to manage your loan easily and quickly.
        </p>
      </div>
      <div class="col-sm-4">
        <img typeof="foaf:Image" class="img-responsive" src="https://www.globalbank.com.pa/sites/default/files/imagenes/pagina/319-x-122-empleado-publico__0.jpg" width="319" height="122" alt="" style="display: block;"> 
      <h3>Public Employees</h3>
        <p>We advise you at every step to adjust your finances and consolidate you with a personal loan designed for you.</p>
     
      </div>
      </div>
      </div>
  

  
          
            

    
{%endblock%}